.container {
    display: flex;
    flex-direction: row;
    padding: var(--dimension-1);
    gap: var(--dimension-2);

    background-color: var(--color-foreground);

}

.icon {
    svg {
        color: var(--color-accent);
        height: var(--font-size-m);
    }
}

.secondryText {
    color: var(--color-text-secondary);
}

.primaryText{
    color: var(--color-text-primary);
}