/*.container {*/
/*    !*padding: var(--padding-section-l) var(--padding-page);*!*/
/*    background-color: var(--color-background);*/
/*    color: var(--color-text-primary);*/

/*}*/

.bodyText {
    color: var(--color-text-secondary);
    margin-top: var(--dimension-3);
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-light);
}

.mediumWidth {
    max-width: var(--max-widht-m);
}