.container {
    padding: var(--dimension-6);

    max-width: var(--max-width-s);
    background-color: var(--color-foreground);
    color: var(--color-text-primary);

    border-radius: var(--radius-1);
    border: 2px solid var(--color-border);
    box-shadow: -2px -2px 20px var(--color-border);

}

.serial {
    color: var(--color-accent);
    font-family: var(--font-family-cursive), serif;
    font-size: var(--font-size-s);
}

.trait {
    font-size: var(--font-size-h3);
    font-family: var(--font-family-cursive), serif;
}

.description {
    color: var(--color-text-secondary);
}

.marginTop {
    margin-top: var(--dimension-4);
}