.trustContainer {
    padding: var(--padding-section-l) var(--padding-page) var(--dimension-5) var(--padding-page);

    background-color: var(--color-background);
}


.flexBox {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    width: fit-content;
    max-width: var(--max-width-xxl);
}

@media screen and (min-width: 480px) {
    .flexBox {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

.fullwidth {
    width: 100%;
}

.statCard {
    border-bottom: 1px solid var(--color-border);
}


.statCard:last-child {
    border-bottom: none;
}

@media screen and (min-width: 872px) {
    .statCard {
        border-bottom: none;
        border-right: 1px solid var(--color-border);
    }

    .statCard:last-child {
        border: none;
    }
}


.statContainer {
    background-color: var(--color-background);
    padding: var(--dimension-5) var(--padding-page) var(--padding-section-l) var(--padding-page);
}

.flexBox2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: var(--max-width-xxl);
}

@media screen and (min-width: 872px) {
    .flexBox2 {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

.flexContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    max-width: var(--max-width-xxl);
    gap: var(--dimension-5);
}

@media screen and (min-width: 480px) {
    .flexContainer {
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--dimension-10);
    }
}

.paddedSection {
    background-color: var(--color-background);

    padding: var(--padding-section-l) var(--padding-page);
}

.flexBox0 {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: var(--dimension-5);
    margin-top: var(--dimension-5);
}

@media screen and (min-width: 480px) {
    .flexBox0 {
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--dimension-10);
    }
}

.maxWidthContainer {
    max-width: var(--max-width-xxl);
    margin: auto;
}

.outerFlexBox {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-5);
}

@media screen and (min-width: 480px) {
    .outerFlexBox {
        gap: var(--dimension-10);
    }
}

.smallCtaButton {
    width: fit-content;
    margin: auto;
}

.innerFlexBox2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    /*align-items: center;*/
    justify-content: center;
}

@media screen and (min-width: 480px) {
    .innerFlexBox2 {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

    }
}

.comparisonCardContainer {
    background-color: var(--color-foreground);
    color: var(--color-text-primary);
    padding: var(--dimension-3);

    border-radius: var(--radius-1);
}

.comparisonHeading {
    font-size: var(--font-size-h6);
    font-family: var(--font-family-cursive), serif;
}

.comparisonSecondryText {
    color: var(--color-text-secondary);
    margin-bottom: var(--dimension-2);
}

.comparisonAccentText {
    color: var(--color-accent);
    margin-bottom: var(--dimension-2);
}

.comparisonPoints {
    display: flex;
    flex-direction: column;
    gap: var(--dimension-2);

    margin-top: var(--dimension-3);


    hr {
        border: 1px solid var(--color-border);
    }

    hr:last-child {
        display: none;
    }
}

.comparisonDrawback::before {
    content: "\2014";
}

.comparisonBenefits::before {
    color: var(--color-accent);
    content: "\2713"
}

.innerFlexBoxCentered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--dimension-5);
}

@media screen and (min-width: 480px) {
    .innerFlexBoxCentered {
        flex-direction: row;
        flex-wrap: wrap;
        gap: var(--dimension-10);
    }
}

.image {
    width: 100%;
    height: 100%;
}


.meetingContainer {
    display: flex;
    flex-direction: column;
    margin: auto;

    border-radius: var(--radius-1);
}

@media screen and (min-width: 480px) {
    .meetingContainer {
        flex-direction: row;
    }
}

.meetingDetailsContainer {
    background-color: var(--color-foreground);

    padding: var(--dimension-3);
    gap: var(--dimension-3);
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1030px) {
    .meetingDetailsContainer {
        /*flex-direction: row;*/
        /*flex-wrap: wrap;*/
        padding: var(--dimension-6);
        gap: var(--dimension-4);
    }
}

